<div class="section">
  <h2><%= @league.name %></h2>
</div>
<ul>
  <li>League Type: <%= @league.league_type %>
  <li>Schedule: <%= @league.schedule %>
  <li>League Admin: <%= @league.admin.name %>
</ul>
<h5><%= link_to "Edit League", edit_league_path(@league) if @player == @league.admin %></h5>
