<h2><%= @player.name %></h2>
<ul>
  <li>Nickname: <%= @player.nickname %>
  <li>Age: <%= @player.age %>
  <li>Position: <%= @player.position %>
  <li>Jersey Number: <%= @player.jersey_number %>
</ul>

<%= render 'admin_show' if @player.admin %>

<p><%= link_to 'Logout', '/logout', method: :post %>
   <%= link_to "Edit Profile", edit_player_path(@player)%>
