<h2><%= @player.name %></h2>
<ul>
  <li>
    <label>Nickname: </label><%= @player.nickname %>
  <li>
    <label>Age: </label><%= @player.age %>
  <li>
    <label>Position: </label><%= @player.position %>
  <li>
    <label>Jersey Number: </label><%= @player.jersey_number %>
</ul>

<%= render 'admin_show' if @player.admin %>

<h2>Pending Invitations</h2>

<p><%= link_to 'Logout', '/logout', method: :post %>
   <%= link_to "Edit Profile", edit_player_path(@player)%>
