<h2><%= @player.name %></h2>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Nickname: </th>
      <th>Age: </th>
      <th>Position: </th>
      <th>Jersey Number: </th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @player.nickname %></td>
      <td><%= @player.age %></td>
      <td><%= @player.position %></td>
      <td><%= @player.jersey_number %></td>
    </tr>
    </tbody>    
</table>

<h2>Leagues</h2>

<%= render 'approved' %>

<%= render 'admin_show' if @player.admin %>

<h2>Pending Invitations</h2>

<%= render 'pending' %>

<p><%= link_to 'Logout', '/logout', method: :post %> <%= link_to "Edit Profile", edit_player_path(@player)%>
