<!DOCTYPE html>
<html>
  <head>
    <title>NbaAtlas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    <div class='container'>
      <nav>
        <div class='container'>
          <a href="/">NBA ATLAS</a>
          <ul>
            <li><a href="/login">Log In</a></li>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
